<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>



  <div id="wrapper">

    <img src="/img/glhf.png">
    <img src="/img/glhf.png">

    <div id="new_div">

      <form action="/views/new" method="post">
        <label>Item <input type="text" name="item_name"></label>
        <label>description <input type="text" name="item_description"></label>
        <label>priority <input type="number" name="item_priority"></label>
        <input type="submit" value="Spara">
        
      </form>
    </div>

    <div id="item_list">
      <ul>
        <p>här kommer det finnas en lista</p>
        <% @todo_items.each do |item| %>

            <div id="item_list_item">

              <div id="item_list_description">

                <a href="/todo/<%= item['id']%>"><%= item['name'] %></a>
                <p><%= item['description'] %></p>
                <p><%= item['priority'] %></p>
                <form action="/views/<%= item['id']%>/delete" method="post">
                <label><input type="submit" value="delete"></label>

              </div>



                <div id="item_list_rating">

                  <form action="/views/<%= item['id']%>/rate" method="post">

                    <p>Finished reading? Rate here!</p>
                    <label> <p>rating:</p><input type="number" name="rating_number"></label>
                    <label><p>comments</p><input type="text" name="rating_commment"></label>
                    <label> <input type="submit" value="submit rating"> </label>
                    
                  </form>

                </div>


              </form>
          </div>

        <% end %>
      </ul>

    </div>



    <div>

    </div>

    <div>

    </div>





  </div>
</body>
</html>
